.navbar{
    width: 100%;
    display: flex;
    background: rgb(255,160,1);
    background: linear-gradient(90deg, rgba(255,160,1,0.7777485994397759) 0%, rgba(255,199,104,0.7609418767507002) 100%);
    height: 80px;
    border-radius: 15px;
    text-align: center;
}

.btt{
    width: 20%;
    height 80px;
    border: 0px solid black;
    vertical-align: center;
    background-color: rgba(255, 255, 100, 0.1);
}
/* Dropdown Button */
.dropbtn {
  background-color: rgba(255, 255, 100, 0.4);
  color: white;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 16px 20px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgba(0, 255, 100, 0.9);}

body{
    /*background-color: rgba(128, 128, 128, 0.43);*/
}

.botaum{
height: 80px;
width: 100%;
background-color: rgba(255, 255, 100, 0.1);
border:0px solid white;
font-size: 25px;
font-family: fantasy;
text-shadow: 5px 0px 7px rgba(255, 255, 255, 1);

}

.botaum:hover{
height: 80px;
width: 100%;
background-color: rgba(255, 255, 100, 0.4);
border:1px solid white;
font-size: 27px;
font-weight: bold;
text-shadow: 5px 0px 7px rgba(255, 255, 0, 1);
}

.logform{
    width: 100%; 
    display: flex;
    
}

.form1{
    width: 33%;
    text-align: center;
    height:100%;
    border-radius:15px;
}
.separacao{
    width: 100%;
    height: 100px;
}

.submit{
    font-size: 19px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.7777485994397759) 0%, rgba(242,184,86,0.7945553221288515) 72%);
    border-radius: 10px;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    border: 0px solid white;
}

.submit:hover{
    
    background-color: yellow;
}
.bttt{
    content-align: center;
    text-align: center;
    font-size: 25px;
    border-radius: 90px;    
    border: 0px;
    position: absolute;
}

.bttt:hover{
    background: rgb(252,255,234);
    background: linear-gradient(3deg, rgba(252,255,234,0.4472163865546218) 0%, rgba(255,255,162,0.2847514005602241) 100%);
    font-size: 30px;
    border-radius: 90px;    
    border: 0px;
    border: 0px solid white;
    
}

.center{
   
    
}

.imag{
 width: 600px;
 height: auto;

}
.imagem{
    width: 100%;
    text-align: center;
}
.logo{
    width: 80px;
    height: auto;

}
.completebox{
    width: 100%;
    text-align: center;
}
.complete {

    text-align: center;
    width: 33%;
}

div.form {
    height: 200px;
    text-align: center;
}

label {
    margin: 20px;
    display: block;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

input {
    padding: 10px;
}

span {
    color: red;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    padding: 10px;
    margin-top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

div#tables {
    height: 300px;
    overflow: auto;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    padding: 10px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
}

th {
    width: 20%;
}

label.info {
    font-size: 10px;
}

.info{
width: 100%;
text-align: center;
text-align: center;
}